// CUSTOMIZED COLORS
$blue1: #3292a6;
$pink1: #ef7998;
$biscuit: #f9e494;
$grey1: #eeeeee;
$yellow1: #fdbe02;
$black1: #071013;
$grey2: #9b9999;
// CUSTOMIZED OVERLAY
$black-overlay: rgba(0, 0, 0, 0.1);
$blue1-overlay: rgba(50, 147, 166, 0.8);
$biscuit-overlay: rgba(249, 228, 148, 0.502);

body {
  font-family: "Mali", cursive, serif;
  color: black;
  background-color: white;
  overflow-x: hidden;
}
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
// NAVBAR STYLES
.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: $yellow1 !important;
}
.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid white;
}
.active {
  border-bottom: 0.1rem solid $yellow1;
}
.navbar-icons {
  font-size: 1.6rem;
}
// NAVBAR CART STYLES
.navbar-cart-icon {
  color: black;
  position: relative;
}
.navbar-cart-icon:hover {
  color: $grey2;
}
.cart-items {
  color: white;
  position: absolute;
  top: -15%;
  right: -25%;
  padding: 0.2rem 0.3rem;
  background-color: $yellow1;
  font-size: 0.1rem;
  border-radius: 50%;
}
// BANNER STYLES
.banner {
  min-height: calc(100vh - 101px);
  background: url(../img/pageBcg/bannerBcg.jpeg) center/cover fixed no-repeat;
}
.btn {
  font-size: 1.2rem !important;
  border-radius: 0 !important;
}
// SERVICES SECTION STYLES
.service-icon {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: $yellow1;
  background-color: $grey2;
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
// CATEGORIES SECTION STYLES
.all-categories-link {
  color: $black1;
  text-decoration: none;
}
.all-categories-link:hover {
  color: $grey2;
  text-decoration: none;
}
.categories-underline {
  height: 0.1rem;
  width: 5rem;
  background-color: $yellow1;
}
.category-container {
  position: relative;
}
.category-img {
  transition: all 1s linear;
}
.category-container:hover .category-img {
  opacity: 0.5;
}
.category-link {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0.2rem 3rem 0.2rem 0.2rem;
  background-color: white;
  color: $black1;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  opacity: 0;
  transition: all 1s linear;
  text-decoration: none !important;
}
.category-link:hover {
  color: $grey2;
}
.category-container:hover .category-link {
  opacity: 1;
}
// HOME FILLER STYLES
.home-filler {
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/home-filler.jpeg) center/cover fixed no-repeat;
}
.collection-link {
  color: $yellow1;
  text-decoration: none;
}
.collection-link:hover {
  color: $grey2;
  text-decoration: none;
}
.collection-underline {
  height: 0.1rem;
  width: 5rem;
  background-color: $yellow1;
  margin: 0 auto;
}
// FEATURED PRODUCTS STYLES
.featured-container {
  background-color: $black-overlay;
  position: relative;
  overflow: hidden;
}
.featured-search-icon {
  background-color: white;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0%;
  top: 50%;
  font-size: 1.2rem;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.featured-container:hover .featured-search-icon {
  transform: translateX(0%);
}
.featured-store-link {
  background-color: $yellow1;
  color: $black1;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
}
.featured-container:hover .featured-store-link {
  transform: translateX(0%);
}
.featured-store-link:hover {
  color: $black1;
}
.old-price {
  text-decoration: line-through;
}
// PARTNER SECTION
#partners {
  background-color: $black-overlay;
}
.carousel-control-prev {
  font-size: 2.5rem;
  color: $black1;
  transform: translateX(-200%);
}
.carousel-control-next {
  font-size: 2.5rem;
  color: $black1;
  transform: translateX(200%);
}
// FOOTER STYLES
.footer {
  background-color: rgba(0, 0, 0, 0.8);
}
.footer-title {
  border: 0.2rem solid $yellow1;
  padding: 0.4rem;
}

// PRODUCTS PAGE STYLES
.banner-products {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/pageBcg/productsBcg.jpeg) center/cover fixed no-repeat;
}
.product-categories-underline {
  height: 0.2rem;
  width: 6rem;
  background-color: $yellow1;
}
.product-categories-link {
  color: $black1;
  text-decoration: none !important;
}
.product-categories-link:hover {
  color: $grey2;
}
.products-color {
  width: 1rem;
  height: 1rem;
}
.products-color-black {
  background-color: black;
}
.products-color-red {
  background-color: red;
}
.products-color-blue {
  background-color: blue;
}
.products-color-green {
  background-color: green;
}
.products-color-yellow {
  background-color: yellow;
}
// SINGLE PRODUCT PAGE STYLES
.banner-single-product {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/pageBcg/singleBcg.jpeg) center/cover fixed no-repeat;
}
.single-product-pic {
  background-color: $black-overlay;
  opacity: 0.5;
  transition: all 0.3s linear;
  cursor: pointer;
  border: 0.1rem solid transparent;
}
.single-product-pic:hover {
  border-color: $yellow1;
  opacity: 1;
}
.product-info-link {
  color: $grey2;
  text-decoration: none !important;
}
.product-info-link:hover {
  color: $yellow1;
}
// STORE PAGE STYLES
.banner-store {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/pageBcg/storeBcg.jpeg) center/cover fixed no-repeat;
}
// BUTTON HOVER
.black-hover:hover {
  color: $yellow1;
  background-color: $black1;
  border-color: $black1;
}
.white-hover:hover {
  color: white !important;
}
.yelllow1-hover:hover {
  color: $yellow1;
}
.text-white-hover:hover {
  color: white;
  background-color: $black1;
  border-color: $black1;
}
.big-font {
  font-size: 3.5rem;
}
.box-shadow {
  transition: all 0.3 linear;
}
.box-shadow:hover {
  box-shadow: 0 10px 15px rgb(0, 0, 0);
}

/* These codes are for navbar 
.nav-link {
  font-size: 14px;
  text-transform: uppercase;
}
.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background-color: #ffffff;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}
.nav-item.active {
  border-left: #444 3px solid;
} */

/* These codes are for OVERLAY
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
} */
/* These codes for video
#video-play {
  position: relative;
  min-height: 200px;
  background: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: white;
}
#video-play a {
  color: white;
} */
